<div  uk-sticky>
<h3 class="uk-text-large">CodeLab</h3>
<ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true">
    {% assign page_url = page.url | split: '.' %}

    {% for item in site.data.sidebar.cat_lib %}
        <li class="uk-nav-header">{{ item.title }}</li>
        {% if item.nav %}
        {% for nav in item.nav %}
            <li class="{% if nav.url == page_url[0] and page.nav.level_1 %}uk-parent{% endif %} {% if nav.url == page_url[0] | slice -5 %}uk-active{% endif %}">
                <a href="{{ nav.url }}">{{ nav.title }}</a>
      
        
                {% if nav.url == page_url[0] and page.nav.level_1 %}
                    <ul class="uk-nav-sub">
                        {% for pl1 in page.nav.level_1 %}
                            <li><a href="{{ pl1.url }}">{{ pl1.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
          
          
            </li>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
</div>


<!-- <ul class="uk-nav uk-nav-default">
{% for item in site.data.sidebar[page.sidebar] %}
  <li><a href="{{ item.url }}">{{ item.title }} {{ item.url }}</a></li>
{% endfor %}
</ul> -->
