<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
    <link rel="stylesheet" href="{{ '/assets/css/monokai.css' | relative_url }}" />
  </head>
  <body>
    <div>Header</div>
    
    
    <div class="uk-grid-collapse" uk-grid>
      <div class="uk-width-medium"><div class="uk-tile uk-tile-secondary">
      
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active"><a href="#">Active</a></li>
          <li class="uk-parent">
              <a href="#">Parent</a>
              <ul class="uk-nav-sub">
                  <li><a href="#">Sub item</a></li>
                  <li><a href="#">Sub item</a></li>
              </ul>
          </li>
          <li class="uk-parent">
              <a href="#">Parent</a>
              <ul class="uk-nav-sub">
                  <li><a href="#">Sub item</a></li>
                  <li><a href="#">Sub item</a></li>
              </ul>
          </li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>
      
      </div></div>
      <div class="uk-width-expand"><div class="uk-tile">
      
        <div class="uk-container">{{content}}</div>
        
      </div></div>
    </div>
    
    
    
    
    <div>Footer</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
  </body>
</html>
