<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
    <link rel="stylesheet" href="{{ '/assets/css/monokai.css' | relative_url }}" />
  </head>
  <body>
<div class="uk-grid-collapse" uk-grid uk-height-viewport="expand: true">
  <div class="uk-width-medium uk-visible@m">
    <div class="uk-tile uk-tile-secondary uk-width-1-1 uk-height-1-1 uk-position-fixed">
      {% include sidebar.navigation.html %}
    </div>
  </div>
  <div class="uk-tile uk-tile-muted uk-width-expand">
    <div class="uk-container uk-container-small">
      <article class="uk-article">
        {{content}}
      </article>
    </div>
  </div>
</div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
  </body>
</html>
